<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Rooms</title>

    <!-- Enlace a Bootstrap CSS desde el CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        /* Estilo adicional si es necesario */
        #room-buttons {
            display: none;
            margin-top: 20px;
        }
        .room-button {
            margin: 5px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="text-center">
            <script type="text/javascript">
                atOptions = {
                    'key' : '17173929aa05b5502e0a5c995c0c45e3',
                    'format' : 'iframe',
                    'height' : 50,
                    'width' : 320,
                    'params' : {}
                };
            </script>
            <script type="text/javascript" src="//www.highperformanceformat.com/17173929aa05b5502e0a5c995c0c45e3/invoke.js"></script>
        </div>
        <br>
        <h1 class="text-center" style="color: #6441A5;">Chat Rooms</h1>
        <br>
        <!-- Mostrar el nombre de usuario autenticado -->
        <div class="text-center">
            <p style="color: #6441A5;">Logged in as: <strong id="username-display">{{ username }}</strong></p>
        </div>
        <br>
        <!-- Botón para mostrar las salas -->
        <div class="text-center mt-3">
            <button id="show-rooms" class="btn btn-primary" style="background-color: #6441A5; color: white;">Show Rooms</button>
        </div>

       <!-- Botones para las salas (inicialmente ocultos) -->
        <div id="room-buttons" class="text-center" style="display: none;">
            {% for room in rooms %}
                {% if forloop.first or forloop.counter0|divisibleby:3 %}
                <div>
                {% endif %}
                    <button class="room-button btn btn-secondary btn-block" data-room="{{ room.identifier }}">
                        {{ room.name }}
                    </button>
                {% if forloop.counter|divisibleby:3 or forloop.last %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="text-center">
        <script type="text/javascript">
            atOptions = {
                'key' : '17173929aa05b5502e0a5c995c0c45e3',
                'format' : 'iframe',
                'height' : 50,
                'width' : 320,
                'params' : {}
            };
        </script>
        <script type="text/javascript" src="//www.highperformanceformat.com/17173929aa05b5502e0a5c995c0c45e3/invoke.js"></script>
    </div>
    
    <!-- Enlace a Bootstrap JS y dependencias (Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

    <script>
        // Mostrar las salas al hacer clic en "Show Rooms"
        document.querySelector('#show-rooms').onclick = function() {
            const roomButtons = document.querySelector('#room-buttons');
            
            // Comprobar el estado actual y alternarlo
            if (roomButtons.style.display === 'block') {
                roomButtons.style.display = 'none';  // Ocultar
            } else {
                roomButtons.style.display = 'block';  // Mostrar
            }
        };

        // Cuando un botón de sala es clickeado
        document.querySelectorAll('.room-button').forEach(function(button) {
            button.onclick = function() {
                var roomName = button.getAttribute('data-room'); // Obtener el nombre de la sala
                // Redirigir a la URL de la sala seleccionada
                window.location.href = '/chat/' + roomName + '/';
            };
        });
    </script>
</body>
</html>
